/* || General styles */

html,
body {
  background-image: linear-gradient(#ba676d, #ffd0c8);
  font-family: Verdana, sans-serif;

  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
}

.wrapper {
  height: auto;
  min-height: 100%;

  margin: 0px auto;
  padding: 0px auto;
}

#policies {
  padding: 10px;
}

#bookbtn {
  background-image: linear-gradient(#7f00ff, #e100ff);

  font-family: "Roboto", sans-serif;
  font-size: 20px;

  outline: none;
  border: none;
  margin-left: 35%;
  cursor: pointer;

  width: 450px;
  height: 75px;

  user-select: none;
  padding: 0.75em 1.75em;
  border-radius: 25px;

  color: #fff;
}

.policy {
  background-color: #9a5473;
  margin: 30px;
  padding: 50px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

#indexwrapper {
  height: auto;
  min-height: 100%;
  min-height: 100%;
  background-image: url(images/lotus.jpeg);
  background-repeat: no-repeat;
  margin: 0px auto;
  padding: 0px auto;
}

th {
  text-align: left;
  padding-right: 10px;
}

#prices {
  font-size: 15px;
  list-style: none;
  text-align: left;
  background-color: #381428;
}

.serv {
}

.serv a {
  text-decoration: none;
  color: white;
}

#prices li::before {
  content: "\00BB \0020";
  font-size: 20px;
}

td {
  text-align: left;
  padding-right: 10px;
  font-style: italic;
}

header {
  padding: 0;
  top: 0;

  position: relative;
}

form {
  overflow: hidden;
}

label {
  padding-right: 24px;
}

#aboutcontainer {
  width: 650px;
  margin-left: 25%;
  height: 300px;
}

footer {
  background-color: #57213f;
  width: 100%;

  padding-top: 10px;
}

#copyright {
  background-color: #381428;
  height: 20px;
  padding: 10px;
  color: white;
}

#container {
  min-height: 100%;
  margin: 0 auto -50px;
  max-width: 1920px;
}

/* || UL and LI styles */

#hoo,
#contact {
  color: white;
  list-style-type: none;
}

.foot-grid {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 10px;

  padding: 10px;
  overflow: auto;

  margin-left: 25%;
}

.foot-grid > table {
  color: white;
  border-radius: 10px;

  text-align: center;
  padding: 20px 0;
}

/* || Navbar */

#logo {
  margin: auto;
  margin-left: 40%;
  height: 300px;
}

.navcontainer {
  background-color: #57213f;
  width: 100%;
  margin: auto;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  display: inline;

  margin: auto;

  padding-top: 10px;
  text-align: center;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;

  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #57213f;
  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #995473;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #995473;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* || Paragraph styles */

#about {
  font-size: 15px;
  padding: 5%;
  background-color: #8b4c70;
  border-radius: 10px;
  color: white;
}

.service {
  font-size: 15px;
  text-align: left;
  padding: 25px;
}

#phone {
  text-align: right;
  padding: 5px;
  color: white;
  font-size: 20px;
}

#info {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

#booking {
  color: white;

  max-width: 100%;

  background-color: #8b4c70;
  border-top: #7a3d64 solid 10px;
  border-bottom: #7a3d64 solid 10px;
  padding: 100px;
}

#intro {
  color: white;
  font-size: 18px;
  line-height: 24px;
  max-width: 100%;
  text-align: center;

  background-color: #8b4c70;
  border-top: #7a3d64 solid 10px;
  border-bottom: #7a3d64 solid 10px;
  padding: 100px;
}

/* ||  Form styles */

#name,
#email {
  width: 400px;
  height: 30px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

#message {
  width: 400px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

#submit {
  background-color: #57213f;
  margin-top: 10px;
  width: 200px;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#submit:hover {
  background-color: #e9c4fc; /* Green */
  color: white;
}

/* ||  Grid styles */

.grid-container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 10px;

  padding: 10px;
  overflow: auto;

  margin-left: 25%;
}

.grid-container > div {
  background-color: #8b4c70;
  color: white;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* ||  Image styles */

#p1 {
  border: 3px solid #57213f;

  padding: 10px;
  margin: 10px;
}

#erlogo {
  margin-left: 35%;
}

img {
  overflow: auto;
}
